<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @article.title %></title>
</head>
<body>
    <div class="container">
        <div class="inner">
            <h3><%= @article.title %></h3>
            <p><%= @article.description %></p>
            <hr>
            <p>Created on: <%= @article.created_at %></p>
            by <%= @article.user.username if @article.user %>
            <br>
            <a href="/articles"><button>Go to Articles list</button></a>
        </div>
    </div>
</body>
</html>