<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <title>Sign up</title>
</head>
<body>
    <div class="container">
        <div class="inner">
            <h1>Create an account</h1>
            <%= form_with(model: @user, local: true) do |f| %>

            <p>
                <%= f.label :username %><br/>
                <%= f.text_field :username %>
            </p>

            <p>
                <%= f.label :email %><br/>
                <%= f.text_field :email %>
            </p>

            <p>
                <%= f.label :password %><br/>
                <%= f.password_field :password %>
            </p>

            <p>
                <%= f.submit "Sign up", class: 'button' %>
            </p>

            <% end %>
        </div>
    </div>
</body>
</html>